<header class="z-9999 w-100">
	<nav class="o-nav">
		<div class="o-container relative flex-l flex-row-l h-100">
	
			<div class="w-third w-20-l">
				{{ partial "logo" . }}
			</div>
	
			<!-- Navbar toggle menu button -->
			<div class="c-nav-toggle">
	    	<a class="c-nav-toggle__button"><span></span></a>
			</div>
	
			<!-- https://www.taniarascia.com/responsive-dropdown-navigation-bar/ -->
			<ul class="w-60-l">
				{{ $currentNode := . }}
	      {{ range .Site.Menus.main }}
	        <li>
	        	<a class="c-nav-link link dim dib mh3-l ph3 white sans-serif lh-solid{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
	        </li>
	      {{ end }}
			</ul>
	
			<div class="dn db-l w-20-l tc o-nav__list">
				<a href="#!!" class="white no-underline">(123) 456-7890</a>
			</div>
	
			
	
		</div>
	</nav>
	
	
	<!-- Mobile overlay Nav -->
	<div class="c-nav-toggle__overlay">
		<div class="o-container h-100">
			<ul class="tr pt5 f3">
				{{ $currentNode := . }}
			    {{ range .Site.Menus.main }}
			      <li class="pv3">
			      	<a class="c-nav-link link dim dib white sans-serif lh-solid{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
			      </li>
			    {{ end }}
			    <li class="pv3"><a href="" class="white no-underline">(123) 456-7890</a></li>
			</ul>
		</div>
	</div>
</header>