/*
  Define your resets here or use something like Normalize.css if you like
 */

 *,
::before,
::after{
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

figure{
	margin: 0;
}