:root{
	--content-width: 1000px;
	--nav-height: 10vh;
	/*--nav-background: rgba(0,0,0,0.25);*/
	--nav-background: transparent;
	--nav-font-color: #ffffff;
	--link-hover-color: #2581DC;
}


header{
	background: transparent;
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0;
}
.o-nav{
	background: var(--nav-background);
	width: 100%;
	height: 10vh;
	& ul{
		list-style: none;
		display: none;
		background: var(--dark-gray);
		@media(--breakpoint-large){
			position: static;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			background: none;
		}
		& li{
			& a{
				line-height: var(--nav-height);
				&:hover{

				}
			}
		}
	}
	& .o-nav__list{
		& a{
			line-height: var(--nav-height);
		}
	}
}

.c-nav-toggle{
  position: absolute;
  top: 0;
  right: 0;
  height: var(--nav-height);
  width: ms(2)rem;
  /*width: var(--nav-height);*/
	z-index: 999;
  @media(--breakpoint-large){
		display: none;
	}
  & .c-nav-toggle__button{
  	/*z-index: 999;*/
  	position: absolute;
  	display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: center;
		top: 0; left: 0; bottom: 0; right: 0;
		margin: auto;
	  cursor: pointer;
	  /*height: auto;*/
	  /*height: 100%;*/
	  & span{
	  	&:before{
	  		font-family: "fontello";
	  		color: var(--nav-font-color);
			  font-style: normal;
			  font-weight: normal;
			  font-size: ms(2)rem;
			  speak: none;
			  -webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			  content: '\f0c9';
	  	}
	  	&.is-active:before{
	  		content: '\e800';
	  	}
	  }
  }
}

.c-nav-toggle__overlay{
	position: fixed;
	display: none;
	top:0;
	height: 100vh;
	width: 100%;
	z-index: 99;
	overflow: auto;
	background: rgba(0,0,0,.95);
	& ul{
		list-style-type: none;
		height: 100%;
		& li{

		}
	}
}