{{ define "main" }}

<div class="o-hero white flex flex-column items-center tc">
	<div class="o-hero__video z-2">
		<video autoplay muted loop style>
			<!-- https://www.videezy.com/urban/2291-1736-home-hd-stock-video -->
	    <source src="https://static.videezy.com/system/resources/previews/000/002/291/original/1736-hd-stock-video.mp4" type="video/mp4">
	  </video>
	</div>
	<div class="o-hero__content ph2 z-4">
		<h2 class="f1 f-subheadline-m f-headline-l lh-solid v-mid mt0 mb4">Centered Header</h2>
		{{ partial "button" (dict "href" "/" "text" "View Homes")}}
	</div>

	<div class="o-hero__scroll-down absolute bottom-0 pb3 pb4-l z-5">
		<a href="#down" class="">
			<!-- https://iconmonstr.com/angel-down-thin-png/ -->
			<img src="/image/down-arrow.png" alt="">
		</a>
	</div>
</div>

<hr class="mt7">

<div id="down">hi</div>

{{ end }}